
@import "reset";

$bgcolor: #201436;
$pinkgradient: linear-gradient(to bottom right, hotpink, pink);
$pinkborder: 10px hotpink outset;
$spacegradient: linear-gradient(to bottom right, darkslateblue, darkorchid);
$spaceborder: 10px darkslateblue outset;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@mixin fontLilita {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin fontNunito {
    font-family: "Nunito", sans-serif;
    /*font-optical-sizing: auto; */
    /* apparently this property doesnt exist according to w3c so idk */
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: $bgcolor;
    margin: 0;
    height: 100%;
}

.content {
    margin: auto;
    max-width: 1200px;
    .hero {
        background-image: $pinkgradient;
        border: $pinkborder;
        height: auto;
        min-height: 400px;
        padding: 40px;
        margin: 40px 10px;
        border-radius: 20px;
        h1 {
            @include fontLilita;
            font-size: 3.5em;
            margin: 10px;
            margin-bottom: 120px;

            @media screen and (max-width: 650px) {
                font-size: 3em;
                margin-bottom: 20px;
            }
        }
        h2 {
            @include fontNunito;
            font-weight: 800;
            font-size: 2em;
            margin: 10px;
            margin-top: 20px
        }
        p {
            @include fontNunito;
            font-size: 1.5em;
            margin: 10px;
            margin-top: 20px;
        }
        img {
            float: right;
            border: 3px dashed white;
            border-radius: 10px;
            max-width: 100%;
            height: auto;
            margin-left: 20px;
            margin-bottom: 20px;

            @media screen and (max-width: 650px) {
                display: block;
                float: none;
                margin: 0px auto;
            }
        }
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        max-width: 1000px;
        margin: 40px auto;
        a {
            @include fontNunito;
            display: block;
            background-image: $spacegradient;
            border: $spaceborder;
            border-width: 5px;
            border-radius: 10px;
            font-size: 1.5em;
            min-width: 150px;
            margin: 5px;
            padding: 10px 20px;
            text-align: center;
            color: white;
            text-decoration: none;

            @media screen and (max-width: 650px) {
                min-width: 120px;
            }
        }
    }
    .leftCard {
        @include fontNunito;
        background-image: $pinkgradient;
        border: $pinkborder;
        border-radius: 20px;
        max-width: 1000px;
        min-height: 400px;
        margin: 20px 10px;
        padding: 40px;

        h1 {
            font-size: 2.5em;
            margin: 10px;
            margin-bottom: 20px;
        }

        p, a {
            font-size: 1.2em;
            margin: 10px;
        }

        a {
            display: block;
            color: black;
        }

        img {
            float: left;
            border: 3px dashed white;
            border-radius: 10px;
            max-width: 100%;
            height: auto;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        iframe {
            float: left;
            border: 3px dashed white;
            width: 560px;
            height: 315px;
            border-radius: 10px;
            margin-right: 20px;
            margin-bottom: 20px;

            @media screen and (max-width: 650px) {
                width: 280px;
                height: 158px; /* this kinda sucks but making youtube embeds act normal is fucking impossible so this is the best we're getting */
            }
        }

        table { /* this looks fine actually but tables are apparently impossible to make behave too */
            float: left;
            margin-right: 20px;
            margin-bottom: 20px;
            border-collapse: collapse;
            font-size: 1.5em;
            border: 4px dotted white;

            thead {
                background-color: #30295D;
            }

            th, td {
                padding: 10px 20px;
                text-align: center;

                @media screen and (max-width: 650px) {
                    padding: 10px;
                }
            }

            tbody {
                background-color: #5b4eb1;
            }

            @media screen and (max-width: 650px) {
                font-size: 1.2em;
            }
        }
    }
    .rightCard {
        @extend .leftCard;
        background-image: $spacegradient;
        border: $spaceborder;
        color: white;
        margin-left: auto;

        @media screen and (max-width: 1020px) {
            margin-left: 10px;
        }

        a {
            color: white;
        }

        img {
            float: right;
            margin-left: 20px;
            margin-right: 0px;
        }

        iframe {
            float: right;
            margin-left: 20px;
            margin-right: 0px;
        }

        table {
            float: right;
            margin-right: 0px;
            margin-left: 20px;
        }
    }
}
